*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

div.container4 {
    height: 10em;
    position: relative }
div.container4 p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

body{
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; background-size: cover;
 /* background-image: url(./images/img3.jpg);  */
}

@media (max-width: 480px) {
    body {
        background-image: url(./images/img3.jpg);
    }

    .user-icon{
        background-image: url(./images/vp11.png);
       }
}

@media (min-width: 1025px) {
    body {
	    background-image: url(./images/img3.jpg);
   }

   .user-icon{
    background-image: url(./images/vp11.png);
   }
}