


  .img-b
   {
  background-image: url(./images/img3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
   }
  